<ul class="nav nav-tabs">
  <li class="nav-items">
    <a class="nav-link" href="/krrs" style="font-weight: 800; color: black; letter-spacing: 3pt; font-size: 8pt;">TAHAP
      1 <br>(Masuk)</a>
  </li>
  <li class="nav-items" style="margin-left: 5%;border-color: black;">
    <a class="nav-link active" href="/krrs-pengisian"
      style="font-weight: 800; color: black;letter-spacing: 3pt; font-size: 8pt;">TAHAP 2
      <br>(Pengisian)</a>
    <div class="nav-bawah"></div>
  </li>
  <li class="nav-items" style="margin-left: 5%;">
    <a class="nav-link" href="/krrs-reguler"
      style="font-weight: 800; color: black; letter-spacing: 3pt; font-size: 8pt;">TAHAP 3 <br>(Selesai)</a>
  </li>
</ul>
<div class="form" style="margin-left: 7px; margin-top: 7px;">
  <div>
    <form>
      <h2 style="text-align: center;font-size: 13pt; font-weight: 900;margin-top: 10px; margin-left:10px;">
        KRRS Online Semester Reguler Fakultas Teknologi Informasi
      </h2>
      <table class="krrs" style="margin-left:10px;">
        <tr>
          <td>NIM </td>
          <td>: 535200014</td>
          <td>SKS Kumulatif</td>
          <td>: 42</td>
        </tr>
        <tr>
          <td>Nama</td>
          <td>: Jennie Kim</td>
          <td>IPK </td>
          <td>: 3.79</td>
        </tr>
        <tr>
          <td>Beban</td>
          <td>: 24</td>
          <td>Tahun ajaran</td>
          <td>: 2020/2021</td>
        </tr>
        <tr>
          <td>IPS Terakhir </td>
          <td>: 3,69</td>
          <td>Registrasi terakhir</td>
          <td>: 1 Juni 2020</td>
        </tr>
      </table>
    </form>
  </div>
</div>
<div class="form" style="height:20%;margin-left: 7px; margin-top: 7px;">
  <div>
    <form>
      <h3 class="p-krrs" style="text-align: Left ;font-size: 13pt; font-weight: 900; margin-top: 15px;">
        Pilih Matakuliah
      </h3>
      <form name="selMatkul" action="/krrs-pengisian" method="get">
        <select name="pilMatkul" style="width:95%; height:60px; border-radius: 5px; color:gray ;margin-left: 10px;">
          <option value="" disabled selected hidden style="color: gray;"> --- Pilih Matakuliah ---</option>
          <% matkuls.forEach((matkul) =>{ %>
          <option value=<%= matkul.kode %>> <%= matkul.matakuliah %></option>
          <% }) %>
        </select>
        <input type="submit">
      </form>
      <h3 class="p-krrs" style="text-align: Left ;font-size: 13pt; font-weight: 900; margin-top: 10px;">
        Pilih Kelas
      </h3>
      <select name="pilKelas" style="width:95%; height:60px; border-radius: 5px; color:gray ;margin-left: 10px;">
        <option value="" disabled selected hidden style="color: gray;"> --- Pilih Jadwal dan Kelas ---
        </option>
        <% matkuls.forEach((matkul) =>{ %>
        <option value=<%= matkul.kelas %>><%= matkul.kelas %>'/'<%= matkul.jadwal %></option>
        <% }) %>
      </select>
      <a href="/krrs-pengisian" id="Simpan" class="btn" style="background-color: #A01627; color: white; width: 150px;height: 50px; 
          border-radius: 30px; margin-left: 35%; font-weight: bold;margin-top:2%;font-size: 15pt;">Simpan</a>
    </form>
  </div>
</div>
<div class="form-krrs" style="margin-left: 5px; margin-top: 15px;">
  <div
    style="width:100% ; height:15px;background-color:black;border-top-left-radius: 10px;border-top-right-radius: 10px;">
  </div>
  <div>
    <form>
      <table class="krrs" style="text-align:center;margin-top: 20px;margin-left: 10px;width:98%;">
        <tr style="border-bottom:2px solid black;">
          <th>Kode</th>
          <th>Matkul</th>
          <th>SKS</th>
          <th>Kelas</th>
          <th>Ruang</th>
          <th>Waktu kuliah</th>
          <th>Action</th>
        </tr>
        <tr style="background-color:CCCCCC;height:50;width:50;border-bottom:1px solid black;">
          <td>TK23015</td>
          <td>WEB PROGRAMMING</td>
          <td><span class="badge badge-pill" style="background-color: A01627;font-size: 12pt;color: white;">8</span>
          </td>
          <td><span class="badge badge-pill" style="background-color: 811EAF;font-size: 12pt;color: white;">A</span>
          </td>
          <td>
            <p>Ruang Lab Prog. 5</p>
            <p>Ruang R.703</p>
          </td>
          <td>
            <p>Senin, 07:30 s.d 09:10</p>
            <p>Senin, 09:30 s.d 11:10</p>
            <p>Selasa, 07:30 s.d 11:10</p>
          </td>
          <td>
            <p>
              <a href="##" class="btn" style="background-color: 29CA43; color: white; width: 100px;height: 30px; 
                              border-radius: 10px;  font-weight: bold;">Edit</a>
            </p>
            <p>
              <a href="##" class="btn" style="background-color: #A01627; color: white; width: 100px;height: 30px; 
                              border-radius: 10px;  font-weight: bold;">Hapus</a>
            </p>
          </td>

        </tr>
        <tr style="border-bottom:1px solid black;">
          <td>TK23016</td>
          <td>COMPUTER SYSTEMS</td>
          <td><span class="badge badge-pill" style="background-color: 163DA0;font-size: 12pt;color: white;">6</span>
          </td>
          <td><span class="badge badge-pill" style="background-color: 18838A;font-size: 12pt;color: white;">B</span>
          </td>
          <td>
            <p>Ruang R.803</p>
            <p>Ruang R.803</p>
          </td>
          <td>
            <p>Selasa, 07:30 s.d 09:10</p>
            <p>Selasa, 09:30 s.d 11:10</p>
          </td>
          <td>
            <p>
              <a href="##" class="btn" style="background-color: 29CA43; color: white; width: 100px;height: 30px; 
                              border-radius: 10px;  font-weight: bold;">Edit</a>
            </p>
            <p>
              <a href="##" class="btn" style="background-color: #A01627; color: white; width: 100px;height: 30px; 
                              border-radius: 10px;  font-weight: bold;">Hapus</a>
            </p>
          </td>

        </tr>
        <tr style="background-color:CCCCCC;border-bottom:1px solid black;">
          <td>TK23017</td>
          <td>INTRODUCTION TO OPERATING SYSTEMS</td>
          <td><span class="badge badge-pill" style="background-color: 42A016;font-size: 12pt;color: white;">4</span>
          </td>
          <td><span class="badge badge-pill" style="background-color: 811EAF;font-size: 12pt;color: white;">A</span>
          </td>
          <td>
            <p>Ruang R.705</p>
            <p>Ruang R.705</p>
          </td>
          <td>
            <p>Kamis, 07:30 s.d 09:10</p>
            <p>Kamis, 09:30 s.d 11:10</p>
          </td>
          <td>
            <p>
              <a href="##" class="btn" style="background-color: 29CA43; color: white; width: 100px;height: 30px; 
                              border-radius: 10px;  font-weight: bold;">Edit</a>
            </p>
            <p>
              <a href="##" class="btn" style="background-color: #A01627; color: white; width: 100px;height: 30px; 
                              border-radius: 10px;  font-weight: bold;">Hapus</a>
            </p>
          </td>
        </tr>
        <tr style="border-bottom:1px solid black;">
          <td>TK33010</td>
          <td>DISTRIBUTED SYSTEMS</td>
          <td><span class="badge badge-pill" style="background-color: 42A016;font-size: 12pt;color: white;">4</span>
          </td>
          <td><span class="badge badge-pill" style="background-color: 811EAF;font-size: 12pt;color: white;">A</span>
          </td>
          <td>
            <p>Ruang R.805</p>
            <p>Ruang R.805</p>
          </td>
          <td>
            <p>Rabu, 07:30 s.d 09:10</p>
            <p>Rabu, 09:30 s.d 11:10</p>
          </td>
          <td>
            <p>
              <a href="##" class="btn" style="background-color: 29CA43; color: white; width: 100px;height: 30px; 
                              border-radius: 10px;  font-weight: bold;">Edit</a>
            </p>
            <p>
              <a href="##" class="btn" style="background-color: #A01627; color: white; width: 100px;height: 30px; 
                              border-radius: 10px;  font-weight: bold;">Hapus</a>
            </p>
          </td>
        </tr>
        <tr style="font-size: 18pt; font-weight: 500;">
          <td></td>
          <td>Total SKS</td>
          <td><span class="badge badge-pill" style="background-color:black;font-size: 15pt;color: white;">22</span></td>
        </tr>

      </table>
    </form>
  </div>
</div>
<div class="container-fluid" style="font-weight: bold; margin-bottom: 20px; margin-top: 3%;">
  <a href="/krrs-reguler" class="btn" style="background-color: #A01627; color: white; width: 250px;height: 40px; 
          border-radius: 30px; margin-left: 40%; font-weight: bold; font-size: 15pt;">Continue & Finish</a>
</div>
<div style="padding-bottom: 50px; color:#A01627; font-weight: 800;margin-top: 5%">
  PERHATIAN
  <ul>
    <li>Halaman ini tidak dapat dijadikan sebagai bukti pendaftaran Kartu Registrasi Rencana Studi (KRRS).
    </li>
    <li>Anda akan dianggap CUTI AKADEMIK apabila mencetak maupun memanipulasi halaman ini untuk dijadikan
      bukti pendaftaran Kartu Rencana Registrasi Studi (KRRS).</li>
    <li>Menggunakan fasilitas ini secara ILEGAL akan dikenakan Sanksi Akademik.</li>
    <li style="color:black;">Pilih Matakuliah dan kelas yang ditawarkan, lalu klik Simpan.</li>
  </ul>
</div>


<%- contentFor('title') %>
KRRS Pengisian