<head>
    <style>
    .form-datadosen {
      border: 1px solid black;
      max-height: 100%;
      width: 100%;
      margin-left: 10px;
      margin-top: 7px;
      border-color: black;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      float: left;
    }
    </style>
</head>

<ul class="nav nav-tabs" style="font-size: 12pt;">
  <li class="nav-items">
    <a class="nav-link" href="/admin/DataMatkul"
      style="font-weight: 800; letter-spacing: 3pt; font-size: 8pt; color: black;">MATA KULIAH</a>
    
  </li>
  <li class="nav-items">
    <a class="nav-link active" href="/admin/DataDosen"
      style="font-weight: 800; letter-spacing: 3pt; font-size: 8pt; color: black;">DATA DOSEN</a>
      <div class="nav-bawah"></div>
  </li>
  <li class="nav-items">
    <a class="nav-link" href="/admin/DataMahasiswa"
      style="font-weight: 800; letter-spacing: 3pt; font-size: 8pt;color:black;">DATA MAHASISWA</a>
  </li>
  <li class="nav-items">
    <a class="nav-link" href="/admin/DataKHS"
      style="font-weight: 800; letter-spacing: 3pt; font-size: 8pt;color:black;">DATA KHS</a>
  </li>
  <li class="nav-items">
    <a class="nav-link" href="/admin/DataKRS"
      style="font-weight: 800; letter-spacing: 3pt; font-size: 8pt;color:black;">DATA KRS</a>
  </li>
</ul>
  <div style="font-weight: 900; margin-left: 10px;font-size: 20pt; margin-top: 10px; width:50%;"> Data Dosen
    <div>
      <a href="/admin/datadosentambah" class="btn"
        style="background-color: #A01627; color: white; width: 150px;height: 50px; 
        border-radius: 100px; margin-top: 10px; font-weight: bold; font-size: 18pt;padding-left:3px;">+Tambah</a>
    </div>
  </div>
  <div>
    <div
      style="text-align: left;color: #000000; font-weight: bold;margin-left:5px;margin-top: 10px;font-weight: 700;">
      Show
      <select class="form-select form-select-lg mb-3" style="width:5%; border-color:black;">
        <option selected>10</option>
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="20">20</option>
      </select>
      entries
    </div>
  </div>
  <div class="form-datadosen" style="margin-left: 4px; margin-top:-4px;margin-bottom:4px;">
    <div style="width:100% ; height:15px;background-color:black; border-top-left-radius: 10px;
      border-top-right-radius: 10px;"></div>
    <div>
      </form>
      <table style="text-align:center;margin: 20px;padding: auto;">
        <tr style="border-bottom:1px solid black;letter-spacing: 2pt;">
          <th scope="col" style="text-align: center;width:3%">NO</th>
          <th scope="col" style="text-align: center;width:3%">NIP</th>
          <th scope="col" style="text-align: center;width:5%">NAMA DOSEN</th>
          <th scope="col" style="text-align: center;width:5%">PRODI</th>
          <th scope="col" style="text-align: center;width:9%">ACTION</th>
        </tr>
        </thead>
        <tbody>
          <% var i = 0; %>
          <% dosens.forEach((dosen) => { %>
          <tr <% if (i % 2 == 1){ %>
            style="border-bottom:1px solid black;">
          <% } else { %>
            style="background-color:CCCCCC;border-bottom:1px solid black;">
          <% } %>   
            <th scope="row"><%= i=i+1 %></th>
            <td><%= dosen.nip %></td>
            <td><%= dosen.nama %></td>
            <td><%= dosen.prodi %></td>
            <td>
              <a href="/admin/datadosenedit" type="button" class="btn btn-success"
                style="border-radius: 20pt; width: 50pt;">Edit</a>
              &nbsp
              <a href="/admin/deleteDosen/<%= dosen.nip %>" class="btn btn-danger"
                style="border-radius: 20pt; width: 50pt; margin-top: 3pt;">Hapus </a>
              &nbsp
              <a href="/admin/DosenMatkul" type="button" class="btn btn-primary"
                style="border-radius: 20pt; width: 95pt;">Mata Kuliah</a>
            </td>

          </tr>
          <% }) %>
        </tbody>
      </table>
      <h6 style="text-align: left;color: #000000; font-weight: bold;padding-left:10px;">Showing 1 to 8 of <%= i %>
        entries</h6>
      <nav aria-label="Page navigation dosen">
        <div style="padding-right: 1%;">
          <ul class="pagination justify-content-end">
            <li class="page-item disabled">
              <a class="page-link" style="color: black;font-weight: 700;" href="#" tabindex="-1"
                aria-disabled="true">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" style="background-color:A01627;color:white;"
                href="#">1</a></li>
            <li class="page-item">
              <a class="page-link" style="color: black;font-weight: 700;" href="#">Next</a>
            </li>
          </ul>
      </nav>

      </form>

    </div>
</div>

<%- contentFor('title') %>
Data Dosen
