<ul class="nav nav-tabs" style="font-size: 12pt;">
  <li class="nav-items">
    <a class="nav-link active" href="/admin/DataMatkul"
      style="font-weight: 800; letter-spacing: 3pt; font-size: 8pt; color: black;">MATA KULIAH</a>
    <div class="nav-bawah"></div>
  </li>
  <li class="nav-items">
    <a class="nav-link" href="/admin/DataDosen"
      style="font-weight: 800; letter-spacing: 3pt; font-size: 8pt; color: black;">DATA DOSEN</a>
  </li>
  <li class="nav-items">
    <a class="nav-link" href="/admin/DataMahasiswa"
      style="font-weight: 800; letter-spacing: 3pt; font-size: 8pt;color:black;">DATA MAHASISWA</a>
  </li>
  <li class="nav-items">
    <a class="nav-link" href="/admin/DataKHS"
      style="font-weight: 800; letter-spacing: 3pt; font-size: 8pt;color:black;">DATA KHS</a>
  </li>
  <li class="nav-items">
    <a class="nav-link" href="/admin/DataKRS"
      style="font-weight: 800; letter-spacing: 3pt; font-size: 8pt;color:black;">DATA KRS</a>
  </li>
</ul>
<div style="font-weight: 900; margin-left: 10px;font-size: 20pt; margin-top: 10px; width:50%;"> Data Mata Kuliah
</div>
</div>
<div class="form-matkuledit" style="margin-left: 5px; margin-top: 10px;">
  <div style="width:100.1% ; height:30px;background-color:black; border-top-left-radius: 10px;
          border-top-right-radius: 10px;"></div>
  <div>
    <form method="post" action="/admin/saveMatkul">
      <table style="text-align:center;margin:10px;">
        <tr style="border-bottom:1px solid black;letter-spacing: 2pt;">
          <th scope="col" style="text-align: center;width:3%">NO</th>
          <th scope="col" style="text-align: center;width:20%">KODE</th>
          <th scope="col" style="text-align: center;width:20%">PRODI</th>
          <th scope="col" style="text-align: center;width:20%">MATA KULIAH</th>
          <th scope="col" style="text-align: center;width:2%">SKS</th>
          <th scope="col" style="text-align: center;width:10%">SEMESTER</th>
        </tr>
        </thead>
        <tbody>
          <tr style="background-color:CCCCCC;border-bottom:1px solid black;">
            <th scope="row">1</th>
            <td><input type="text" style="border-radius: 5px;" name="Kode"></td>
            <td><input type="text" style="border-radius: 5px;" name="Prodi"></td>
            <td><input type="text" style="border-radius: 5px;" name="Matakuliah"></td>
            <td><input type="sks" style="border-radius: 5px;" name="Sks"></td>
            <td><input type="text" style="border-radius: 5px;" name="Semester"></td>
          </tr>
        </tbody>
      </table>
      <div>
        <button type="submit" class="btn btn-success"
          style="border-radius: 20pt; width: 70pt;margin-left: 38%;">Save</button>
        <button type="button" class="btn btn-danger" style="border-radius: 20pt; width: 70pt;">Batal</button>
        <a href="/admin/DataMatkul" type="button" class="btn btn-primary"
          style="border-radius: 20pt; width: 70pt;">Tutup</a>
      </div>
    </form>
  </div>
</div>
<div class="form-matkulfix" style="margin-left: 5px; margin-top:60px;margin-bottom: 3%;">
  <div style="width:100.1% ; height:15px;background-color:black;border-top-left-radius: 10px;
          border-top-right-radius: 10px;"></div>
  <div>
    </form>
    <table style="text-align:center;margin:10px;">
      <tr style="border-bottom:1px solid black;letter-spacing: 3px;">
        <th scope="col" style="text-align: center;width:5%">NO</th>
        <th scope="col" style="text-align: center;width:5%">KODE</th>
        <th scope="col" style="text-align: center;width:8%">PRODI</th>
        <th scope="col" style="text-align: center;width:15%">MATA KULIAH</th>
        <th scope="col" style="text-align: center;width:5%">SKS</th>
        <th scope="col" style="text-align: center;width:5%">SEMESTER</th>
      </tr>
      </thead>
      <tbody>
        <% var i = 0; %>
        <% matkuls.forEach((matkul) => { %>
        <% var num = matkul.sks %>

        <tr <% if (i % 2 == 1){ %> style="border-bottom:1px solid black;">
          <% } else { %>
          style="background-color:CCCCCC;border-bottom:1px solid black;">
          <% } %>
          <th scope="row"><%= i=i+1 %></th>
          <td><%= matkul.kode %></td>
          <td><%= matkul.prodi %></td>
          <td><%= matkul.matakuliah %></td>
          <td>
            <div id="sks" <% if (num == 4){ %> class="badge badge-success" <% } else if (num == 6){ %>
              class="badge badge-primary" <% } else { %> class="badge badge-danger" <% } %> style="border-radius: 30px;padding:7px; width: 45px;height:38px;
                font-size:12pt;color: white;"><%= matkul.sks %>
            </div>
          </td>
          <td><%= matkul.semester %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    </nav>
    </form>
  </div>
</div>

<%- contentFor('title') %>
Matkul Tambah